.header-container {
  background-image: url('../images/header.jpg');
  background-color: #040203;
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
}

.header-title {
  color: white;
  text-align: end;
  font-size: 90px;
  font-style: italic;
  margin-right: 3rem;
  padding-top: 12rem;
}

.home-container {
  padding: 5rem;
}

.home-img {
  height: 59%;
}

.home-btn {
  background-color: #84c1ff !important;
  border-color: grey !important;
  color: black !important;
}

.happy-news-container {
  margin-bottom: 3rem;
}

.happy-news-title {
  font-size: 45px;
}

.happy-news-stories {
  font-size: 30px;
  font-style: italic;
}

.happy-news-article {
  font-size: 20px;
}

button.article-btn {
  border-color: #84c1ff;
}
